h1 {
  color: blue;
  text-align: center;
}

h2 {
  color: green;
  text-align: center;
}

p {
  color: green;
  text-align: center;
}

body {
  background-image: url("https://us.123rf.com/450wm/alonastep/alonastep1707/alonastep170700047/81573572-nachthemel-met-witte-sterren-op-zwarte-achtergrond-sjabloon-voor-donkere-astronomie-galaxy-sterrenhe.jpg?ver=6");
}
